<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>bJack</servlet-name>
        <servlet-class>BlackJack.bJack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>slotsServlet</servlet-name>
        <servlet-class>Slots.slotsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouletteServlet</servlet-name>
        <servlet-class>Roulette.RouletteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bJack</servlet-name>
        <url-pattern>/bJack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>slotsServlet</servlet-name>
        <url-pattern>/slots</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouletteServlet</servlet-name>
        <url-pattern>/Roulette</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
